.avatar {
    right: 20px;
    position: absolute;
    display: flex;
}

.avatar-img {
    height: 35px;
    width: 35px;
    border-radius: calc(35px / 2);
    margin-right: 10px;
}

.links {
    color: inherit;
}