.answer {
    margin-top: 8px !important;
    padding-left: 10px;
}
.searchField {
    float: right;
}

.add-question-button {
    margin: 18px !important;
}

.error-message {
    margin-top: 18px !important;
} 
  